<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta charset="utf-8">
<title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
<meta name="viewport" content="width=device-width">
<meta name="description" content="{{ site.description }}">
<link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.url }}">


<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Yantramanav:400,100,300,500">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
<!-- Custom CSS -->
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
<link rel="stylesheet" href="{{ site.baseurl }}/css/bootstrap.min.css">
<link rel="stylesheet" href="{{ site.baseurl }}/css/main.css">

<!-- Fav and touch icons -->
<link rel="shortcut icon" type="image/x-icon" href="{{ site.baseurl }}/favicon.ico" />
<link rel="apple-touch-icon" href="{{ site.baseurl }}/favicon.png" />
<meta name="theme-color" content="#ffffff">
