<!DOCTYPE html>
<html lang="en" itemscope itemtype="http://schema.org/Article">
  {% include head.html %}
  <head>
    <!--<meta http-equiv="refresh" content="0;URL=http://{{page.vistory}}">-->
  </head>

  <body >
	{% include header.html %}
	
	<div class="container">
	  <div class="row">
		<div class="col-md-12">
			<h1>{{ page.title }}</h1>
			<p>
			{{ page.description }}
			</p>
			
			{{ content }}
			
			<p>
				<div class="alert alert-warning" role="alert">
				<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
				Please note: The demos have only been tested with <a href="https://www.google.com/chrome/browser/desktop/index.html"><i class="fa fa-chrome"></i> Google Chrome</a>.</div>
			</p>
			
			
			<p>
				You should be automatically redirect to <a href="http://{{page.vistory}}">http://{{page.vistory}}</a>
			</p>
		</div>
	  </div>
	</div>
	
	{% include footer.html %}
  
    
   {% if site.use_analytics == true %}
   {% include google_analytics.html %}
   {% endif %} 
   
	<script>
		var is_chrome = navigator.userAgent.toLowerCase().indexOf('chrome') > -1;
		function redirect() {
			window.location="http://{{page.vistory}}";
		}
		if (is_chrome) {
			redirect();
		} else {
			setTimeout(redirect, 5000);
		}
	</script>
  </body>
</html>
